p {
   text-align:center;
   font-size:25px;
   font-family:monoscape;
}


/*center align video+ + video width and height */
video {
   display: block;
margin-left: auto;
  margin-right: auto;
   width: 480px;
   height: 360px;
  pointer-events: none;
}


body {
   background-image:url("Background.png");
   background-attachment: fixed;
   background-repeat: no-repeat;
}
